:80 {
    header {
        Content-Security-Policy "default-src 'self'; script-src 'self' https://platform.twitter.com; style-src 'self' 'unsafe-inline'; img-src * data:; frame-src https://www.youtube-nocookie.com https://www.facebook.com https://www.instagram.com https://platform.twitter.com https://syndication.twitter.com; connect-src 'self'; object-src 'none'; base-uri 'self'; form-action 'self'; frame-ancestors 'none'"
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
    handle_path /api/* {
        request_body {
            max_size 11MB
        }
        reverse_proxy backend:8000
    }
    @admin path_regexp ^/([^/]+/)?admin(/|$)
    header @admin X-Robots-Tag "noindex, nofollow"
    handle /sitemap.xml {
        reverse_proxy backend:8000
    }
    handle {
        templates
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
